/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.example-card {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  /* margin-bottom: 0.5%; */
}

.get-btn {
  background: #61affe;
}

.put-btn {
  background-color: #fca130;
}

.patch-btn {
  background-color: #50e3c2;
}

.delete-btn {
  background-color: #f93e3e;
}

.post-btn {
  background-color: #49cc90;
}


.left-side {
  flex: 1;
}

.right-side {
  flex: 1;

  pre {
    height: 80vh;
    overflow-y: auto;
    background-color: #333333;
    color: white;
  }

}

.divider {
  width: 1px;
  background: var(--red-to-pink-to-purple-vertical-gradient);
  margin-inline: 0.5rem;
}


main {
  width: 90%;
  min-height: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* max-width: 1250px; */
  margin-bottom: 3rem;
}


.getBox {
  /* background: red !important; */
  background: rgba(97, 175, 254, .1) !important;
  border: 1px solid rgb(54, 145, 235) !important;
}

.putBox {
  background: rgba(252, 161, 48, .1) !important;
  border: 1px solid #f29422 !important;
}

.deleteBox {
  background: rgba(249, 62, 62, .1) !important;
  border: 1px solid #f05555 !important;
}

.patchBox {
  background: rgba(80, 227, 194, .1) !important;
  border: 1px solid #078a6e !important;
}

.postBox {
  background: rgba(73, 204, 144, .1) !important;
  border: 1px solid #2bec95 !important;
}

.tableContainer {
  box-shadow: #333333;
  border: 2px solid black;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  /* height: 60vh; */
}


.w100 {
  width: 100%;
}

.bookModal {
  /* padding: 5%; */
  /* margin: 5%;
  height: 400px;
  width: 400px;
  overflow-y: scroll; */
}

/* .mat-dialog-container {
  height: 400px;
  width: 600px;
  border-radius: 10px;
  background: lightcyan;
  color: #039be5;
  padding: 5%;
  margin: 5%;
} */

/* ::ng-deep .mat-dialog-container {
  height: 800px !important;
  width: 400px !important;
} */

.w50 {
  width: 48%;
  margin: 1%;
}

.w33 {
  width: 31.34%;
  margin: 1%;
}

.spinner {
  /* border: 1px solid; */
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* half of the elements width */
}

.dialog-title {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.signup-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}